@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.ff_roboto {
  font-family: 'Roboto';
}

.hero_img {
  background-image: url(./assets/image/webp/hero_img.webp);
}

.text-colum {
  writing-mode: none;
  text-orientation: none;
}

.text_rgba {
  color: rgba(2, 80, 102, 0.70);
}

.play:hover .play1 {
  transform: translateX(5px);
  cursor: pointer !important;
}

.box_shadow {
  box-shadow: 9px 16px 32px 0px rgba(0, 0, 0, 0.25);
}

.bg_img {
  background-image: url(./assets/image//webp/bg_img.webp);
}

.text_greay {
  color: var(--Gray-2, #4F4F4F);
}

.footerline {
  content: '';
}

.play:hover .play1 svg path {
  fill: blue !important;
}

html,
body {
  scroll-behavior: smooth;
}

.over_hidden {
  overflow: hidden !important;
}

.font_midum:hover {
  -webkit-text-stroke: 0.6px#025066 !important;
}

@media (min-width:1280px) {
  .text-colum {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}